#progressBar {
    width: 100%;
    background-color: lightgrey;
}

#progress {
    width: 0%;
    height: 5px;
    background-color: rgb(169, 112, 255);
}

.currentTimeSpan {
    color: rgb(169, 112, 255);
    font-size: 12px;
}

.totalTimeSpan {
    color: gray;
    font-size: 12px;
}